<%= form_for(@jobboard) do |f| %>
  <% if @jobboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobboard.errors.count, "error") %> prohibited this jobboard from being saved:</h2>

      <ul>
      <% @jobboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jobTitle %><br>
    <%= f.text_area :jobTitle %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_area :company %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_area :hours %>
  </div>
  <div class="field">
    <%= f.label :full %><br>
    <%= f.check_box :full %>
  </div>
  <div class="field">
    <%= f.label :partTime %><br>
    <%= f.check_box :partTime %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_area :salary %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :requirements %><br>
    <%= f.text_area :requirements %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_area :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
