<%= form_for(@jobboard) do |f| %>
  <% if @jobboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobboard.errors.count, "error") %> prohibited this jobboard from being saved:</h2>

      <ul>
      <% @jobboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
  <tbody>
      
      <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :JobTitle %>:<br>
        <td colspan="4" class="lAlign">
         <%= f.text_area :jobTitle %>
        </td>
      </tr>
    
      <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :company %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.text_area :company %>
        </td>
      </tr>
    
      <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :hours %>:<br>
        </td>
        <td colspan="4" class="lAlign">
           <%= f.text_area :hours %>
        </td>
      </tr>
    
       <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :full %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.check_box :full %>
        </td>
      </tr>
    
      <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :partTime %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.check_box :partTime %>
        </td>
      </tr>
    
      <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :salary %>:<br>
        </td>
        <td colspan="4" class="lAlign">
         <%= f.text_area :salary %>
        </td>
      </tr>
    
      <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :description %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.text_area :description %>
        </td>
      </tr>
    
       <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :requirements %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.text_area :requirements %>
        </td>
      </tr>
 
       <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :website %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.text_area :website %>
        </td>
      </tr>
    
    <tr  class="field">
        <td colspan="4" class="rAlign">
          <%= f.label :email %>:<br>
        </td>
        <td colspan="4" class="lAlign">
          <%= f.text_field :email %>
        </td>
      </tr>

    <tr class="field">
      <td colspan="4" class="rAlign">
        <%  f.label :approved %>:<br>
      </td>
      <td colspan="4" class="lAlign">
        <%= f.select :approved, Jobboard::APPROVE_TYPES %>
      </td>
    </tr>
    
    <tr class="field">
      <td colspan="8" class="actions">
        <%=f.submit %>
      </td>
    </tr>
     </tbody>
   </table>
  



<% end %>
