<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="three columns">
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
    </div>
    <div class="ten columns">
      <div class="cAlign">
        <h2>Currently Viewing: <%= @jobboard.jobTitle %></h2>
        <h3>Brought to you by: <%= @jobboard.company %></h3>
        <div class="blackBorder">
          <h3>Description</h3>
          <%= @jobboard.description %>
          <br>
          <br>
        </div> 
        <div class="detailsRow">
          <div class="detailsSpacing">
            <div class="whiteSpace">
            </div>
          </div>
          <div class="three columns">
            <div class="blackBorder">
              <div class="cAlign">
                Job Type: <br><%= @jobboard.jobType %>
              </div>
            </div>
          </div>
          <div class="three columns">
            <div class="blackBorder">
              <div class="cAlign">  
                Hours Per Week: <br> <%= @jobboard.hours %>
              </div>
            </div>
          </div>
          <div class="three columns">
            <div class="blackBorder">
              <div class="cAlign">
                Salary: <br> <%= @jobboard.salary %>
              </div>
            </div>
          </div>
          <div class="detailsSpacing">
            <div class="whiteSpace">
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="whiteSpace">
        </div>
        <div class="whiteSpace">
        </div>
        <div class="cAlign">
          <div class="blackBorder">
            <h3>Requirements</h3>
            <%= @jobboard.requirements %>
            <br>
            <br>
          </div>  
        </div>          
        <div class="whiteSpace">
        </div>
        <div class="cAlign">
          <h4>Check out the company at <%= @jobboard.website %></h4>
        </div>
        <div class="whiteSpace">
        </div>
        <div class="cAlign">
          <div class="bottomLink">
            <%= link_to 'Return to Home', jobboards_path %>
          </div>
        </div>
      </div> 
    </div>
    <div class="three columns">
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
    </div>
  </div>  