<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="sixteen columns">
      <div class="cAlign">
        <h2>Currently Viewing: <%= @jobboard.jobTitle %></h2>
        <h3>Brought to you by: <%= @jobboard.company %></h3>
        <div class="blackBorder">
          <h3>Description</h3>
          <%= @jobboard.description %>
          <br>
          <br>
        </div>  
      </div>
    </div>
    <div class="sixteen columns">
      <div class="whiteSpace">
      </div>
    </div>
    <div class="four columns">
      <div class="blackBorder">
        <div class="cAlign">
          <br>
          Part Time: <%= @jobboard.partTime %>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="blackBorder">
        <div class="cAlign">
          <br>
          Full Time: <%= @jobboard.full %>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="blackBorder">
        <div class="cAlign">
          <br>
          Hours Per Week: <%= @jobboard.hours %>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="blackBorder">
        <div class="cAlign">
          <br>
          Salary: <%= @jobboard.salary %>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="whiteSpace">
      </div>
    </div>
    <div class="sixteen columns">
      <div class="cAlign">
        <div class="blackBorder">
          <h3>Requirements</h3>
          <%= @jobboard.requirements %>
          <br>
          <br>
        </div>  
      </div>
    </div>
    <div class="sixteen columns">
      <div class="whiteSpace">
      </div>
    </div>
    <div class="sixteen columns">
      <div class="cAlign">
        <h4>Check out the company at <%= @jobboard.website %></h4>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="whiteSpace">
      </div>
    </div>
    <div class="eight columns">
      <div class="rAlign">
        <%= link_to 'Edit This Post', edit_jobboard_path(@jobboard) %>  |
      </div>
    </div>
    <div class="eight columns">
      <div class="lAlign">
        <%= link_to 'Return to Home', jobboards_path %>
      </div>
    </div>
  </div>  

