<p id="notice"><%= notice %></p>

<p>
  <strong>Jobtitle:</strong>
  <%= @jobboard.jobTitle %>
</p>

<p>
  <strong>Company:</strong>
  <%= @jobboard.company %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @jobboard.hours %>
</p>

<p>
  <strong>Full:</strong>
  <%= @jobboard.full %>
</p>

<p>
  <strong>Parttime:</strong>
  <%= @jobboard.partTime %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @jobboard.salary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jobboard.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @jobboard.requirements %>
</p>

<p>
  <strong>Website:</strong>
  <%= @jobboard.website %>
</p>

<%= link_to 'Edit', edit_jobboard_path(@jobboard) %> |
<%= link_to 'Back', jobboards_path %>
