  <div class="container">
    <div class="sixteen columns"> 
      <table class="viewTable">
        <!--this is a static heading and only for readability -->
        <caption class="pageHeading">Administration: Viewing All Jobs</caption>
        <thead class="jobCategory">
          <tr>
            <th>Date</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Hours Per Week</th>
            <th class="hideIt">Job Type</th>
            <th class="hideIt">Empty</th>
            <th>Salary</th>
            <th class="hideIt">Description</th>
            <th class="hideIt">Requirements</th>
            <th class="hideIt">Website</th>
            <th></th>
            <th></th>
            <th class="hideIt"></th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% @jobboards.each do |jobboard| %>
          <tr id="jobList">
            <td><%= jobboard.created_at.strftime("%m-%d-%Y") %></td>
            <td><%= jobboard.jobTitle %></td>
            <td><%= jobboard.company %></td>
            <td><%= jobboard.hours %></td>
            <td class="hideIt"></td>
            <td class="hideIt"><%= jobboard.jobType %></td>
            <td><%= jobboard.salary %></td>
            <td class="hideIt"><%= jobboard.description %></td>
            <td class="hideIt"><%= jobboard.requirements %></td>
            <td class="hideIt"><%= jobboard.website %></td>
            <td><%= link_to 'View', jobboard %></td>
            <td><%= link_to 'Edit', edit_jobboard_path(jobboard) %></td>
            <td><%= link_to 'Destroy', jobboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
    </div>
  <div>