<!DOCTYPE html>
<html>
<head>
  <title>AwesomeJobs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!--Company Logo -->
  <div id="wrapper">
    <div id="wrapperSpacing">
      
      <div id="nav">
        <%= link_to 'Post New Job', new_jobboard_path %>
        <br>
        <%= link_to 'Return to Admin Home',  admin_path %>  
        <br>
        <%= link_to 'Return to Home', jobboards_path %>
      </div>
      
      <div id = "titlePositioning">
        <div id = "title">
          Awesome Jobs
        </div>
      </div>
      
      

      <br><br>
<%= yield %>
    </div>
   </div>
</body>
</html>