<!DOCTYPE html>
<html>
<head>
  <title>AwesomeJobs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!--Company Logo -->
  <div id="wrapper">
  
      <!--This link will later become the longin button -->
      <div class="login">
        <%= link_to 'Post New Job', new_jobboard_path %>
      </div>

      <div id = "title">
        Awesome Jobs
      </div>

      <br><br>

<%= yield %>

   </div>
</body>
</html>
