<!DOCTYPE html>
<html>
<head>
  <title>AwesomeJobs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!--Company Logo -->
  <div id="wrapper">
    <div id="wrapperSpacing">
      <div id="heading">
        <div id = "title">
          <div class="cAlign">
            <%= link_to 'Awesome Jobs', jobboards_path %>
          </div>
        </div>
        <div id="nav">
          <br>
          <%= link_to 'Post New Job', new_jobboard_path %>
          <br>
          <%= link_to 'Return to Admin Home',  admin_path %>  

        </div>
      </div>
      

      <br><br>
<%= yield %>
    </div>
   </div>
</body>
</html>